@charset "utf-8";
/* CSS Document */

#fundo{
	background-image:url(../../visual/images/window/fundo.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	background-color:#FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px; text-align: center;
	vertical-align: text-top;
}
#textoPre{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px; text-align: left;
	vertical-align: text-top;
}
.button{
	font-size: 10px;
	font-family: Verdana;
	font-weight: bold;
	color: #9ff700;
	background: #054a69;
	border:0px;
	width: 80px;
	height: 19px;
	cursor: pointer;
}
.window-top-left{
	background-image:url(../../visual/images/window/top-left-c.gif);
	background-repeat:no-repeat; height:23px;
	width: 4px;
}
.window-top-middle{
	background-image:url(../../visual/images/window/top-middle-c.gif);
	background-repeat:repeat-x;
	text-align:right;	
}
.window-top-right{
	background-image:url(../../visual/images/window/top-right-c.gif);
	background-repeat:no-repeat; height:23px;
	width: 4px;
}
.window-close{
	background-image:url(../../visual/images/window/close-c.gif);
	background-repeat:no-repeat; float:right;
	width:16px; height:16px; cursor:pointer;
}
.window-left-middle{
	background-image:url(../../visual/images/window/left-middle-c.gif);
	width: 4px;	
}
.window-right-middle{
	background-image:url(../../visual/images/window/right-middle-c.gif);
	width: 4px;	
}
.window-bottom-left{
	background-image:url(../../visual/images/window/bottom-left-c.gif);
	background-repeat:no-repeat; height:23px;
	width: 4px;
}
.window-bottom-middle{
	background-image:url(../../visual/images/window/bottom-middle-c.gif);
	background-repeat:repeat-x;
	text-align:right;	
}
.window-bottom-right{
	background-image:url(../../visual/images/window/bottom-right-c.gif);
	background-repeat:no-repeat; height:23px;
	width: 4px;
}
.window-title{
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px; vertical-align:middle;
	font-weight: bold; color: #9ff700; padding-left: 5px;
}

table.calendarTable {
	border: #004059 1px solid;
	font-size: 11px;
	color: #004059;
	font-family: tahoma,verdana,sans-serif;
	background-color: #ffffff;
	padding: 0 0 0 0;
	border-collapse: collapse;
}

table.calendarTitle {
	font-size: 10px;
	width:100%;
	height: 20;
	padding: 0 0 0 0;
	border-collapse: collapse;
	margin: 1px;
}

td.calendarButton {
	border: 0px;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	background-color: #064A6A;
	width: 15px;
	height: 20px;
	cursor: pointer;
	font-family: verdana;
	font-size: 10px;
	color: #B1EF00;
	padding: 4 4 4 4;
}

td.calendarCurrMonth {
	background-color: #064A6A;
	cursor: pointer;
	font-family: verdana;
	font-size: 10px;
	color: #B1EF00;
	padding: 4 4 4 4;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	font-weight: bold;
}

td.calendarCloseButton {
	border: 0px;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	width: 15px;
	height: 20px;
	cursor: pointer;
	padding: 0 0 0 0;
}

td.calendarWeekend {
	width: 30px;
	font-family: Arial;
	font-size: 11px;
	color: #004059;
	font-weight: bold;
}

td.calendarWeekDay {
	WIDTH: 30px;
	font-family: Arial;
	font-size: 11px;
	color: #004059;
}

td.calendarSelectedDay {
	border: 1px solid #718BB0;
	border-left: 1px solid #718BB0;
	color: #004059;
	font-weight: bold;
	cursor: pointer;
}

td.calendarDay {
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	cursor: pointer;
}

td.calendarDayCol1 {
	border-left: 1px solid #004059;
	border-top: 1px solid #ffffff;
	cursor: pointer;
}

td.calendarDayCol1Selected {
	border-left: 1px solid #004059;
	border-top: 1px solid #ffffff;
	cursor: pointer;
}

td.calendarDayColFinal {
	border-right: 1px solid #004059;
	cursor: pointer;
}

td.calendarDayColFinalSelected {
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #004059;
	cursor: pointer;
}

.divListYears {
	border: #718BB0 1px solid;
	left: 1px;
	overflow: auto;
	width: 50px;
	position: absolute;
	top: 1px;
	height: 150px;
	background-color: #e5eaf1;
}
.year {
	border-bottom: #718BB0 1px solid;
	font-weight: normal;
	cursor: default;
	text-align: center;
	font-size: 9px;
	font-family: tahoma;
}
.yearOn {
	border-bottom: #718BB0 1px solid;
	font-weight: normal;
	cursor: pointer;
	text-align: center;
	font-size: 9px;
	font-family: tahoma;
	background-color: #E2E9F1;
	color: #004059;
}

.tableFactory {
	background-color:	#1B70E1;
	border-left:		1px solid #B2E7FA;
	border-top:			solid 1px #B2E7FA;
	border-bottom:		solid 1px #B2E7FA;
}

.tableFactoryTitulo {
	background-color:	#064A6A;
	color:				#B1EF00;
	font-family:		Trebuchet MS, arial;
	font-size:			12px;
	font-weight:		bold;
	height:				23px;
	padding-left:		4px;
	padding-right:		4px;
 	border-right:		solid 1px #B2E7FA;
}

.tableFactoryCelula {
	color:				#064A6A;
	background-color:	#ffffff;
	font-family:		Trebuchet MS, arial;
	font-size:			11px;
	height:				23px;
	padding-left:		4px;
	padding-right:		4px;
	border-top:			solid 1px #B2E7FA;
	border-right:		solid 1px #B2E7FA;
}

.tableFactoryBotao {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #095676;
	background-color: #C4ED00;
	border-right: 2px solid #8CA800;
	border-bottom: 2px solid #8CA800;
	border-left: 2px solid #C4ED00;
	border-top: 2px solid #C4ED00;
	padding: 0;
	margin: 0;
	cursor: hand;
}

.tooltip {
	font-size: 11px;
	font-family: Verdana, Arial, sans-serif;
	color: #004059;
	background-color: #fff;
	border: 1px solid #004059;
	padding: 2;
	margin: 0;
}

.abaAtiva {
   background-color: #C4ED00;
   color: #043F5F;
   font-size: 11px;
   font-family: Trebuchet MS;
   font-weight: bold;
   height: 20px;
   border-left: #C4ED00 1px solid;
   border-top: #C4ED00 1px solid;
   border-right: #C4ED00 1px solid;
   border-bottom: #C4ED00 1px solid;
   cursor: pointer;
}

.abaInativa {
   background-color: #F0F0F0;
   color: #043F5F;
   font-size: 11px;
   font-family: Trebuchet MS;
   font-weight: bold;
   height: 20px;
   border-left: #CCCCCC 1px solid;
   border-top: #CCCCCC 1px solid;
   border-right: #CCCCCC 1px solid;
   border-bottom: #F0F0F0 1px solid;
   cursor: pointer;
}

.abaHover {
   background-color: #C4ED00;
   color: #043F5F;
   font-size: 11px;
   font-family: Trebuchet MS;
   font-weight: bold;
   height: 20px;
   border-left: #043F5F 1px solid;
   border-top: #043F5F 1px solid;
   border-right: #043F5F 1px solid;
   border-bottom: #C4ED00 1px solid;
   cursor: pointer;
}

.abaContainer{
	background-color: #E6E6E6;
	padding-left: 3px;
	padding-top: 3px;
}