@charset "utf-8";
/* CSS Document */

#fundo{
	background-image:url(../../visual/images/window/fundo.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	background-color:#FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px; text-align: center;
	vertical-align: text-top;
}
#textoPre{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px; text-align:left;
	vertical-align:text-top;
}
.button{
	font-size: 10px;
	font-family: Verdana;
	font-weight: bold;
	color: #ffffff;
	background: #68b7fa;
	border:0px;
	width: 80px;
	height: 19px;
	cursor: pointer;
}
.window-top-left{
	background-image:url(../../visual/images/window/top-left-a.gif);
	background-repeat:no-repeat; height:23px;
	width: 4px;
}
.window-top-middle{
	background-image:url(../../visual/images/window/top-middle-a.gif);
	background-repeat:repeat-x;
	text-align:right;	
}
.window-top-right{
	background-image:url(../../visual/images/window/top-right-a.gif);
	background-repeat:no-repeat; height:23px;
	width: 4px;
}
.window-close{
	background-image:url(../../visual/images/window/close-a.gif);
	background-repeat:no-repeat; float:right;
	width:16px; height:16px; cursor:pointer;
}
.window-left-middle{
	background-image:url(../../visual/images/window/left-middle-a.gif);
	width: 4px;	
}
.window-right-middle{
	background-image:url(../../visual/images/window/right-middle-a.gif);
	width: 4px;	
}
.window-bottom-left{
	background-image:url(../../visual/images/window/bottom-left-a.gif);
	background-repeat:no-repeat; height:23px;
	width: 4px;
}
.window-bottom-middle{
	background-image:url(../../visual/images/window/bottom-middle-a.gif);
	background-repeat:repeat-x;
	text-align:right;	
}
.window-bottom-right{
	background-image:url(../../visual/images/window/bottom-right-a.gif);
	background-repeat:no-repeat; height:23px;
	width: 4px;
}
.window-title{
	float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px; vertical-align:middle;
	font-weight: bold; color: #FFF; padding-left: 5px;
}

table.calendarTable {
	border: #1B70E1 1px solid;
	font-size: 11px;
	color: #1B70E1;
	font-family: tahoma,verdana,sans-serif;
	background-color: #ffffff;
	padding: 0 0 0 0;
	border-collapse: collapse;
}

table.calendarTitle {
	font-size: 10px;
	width:100%;
	height: 20;
	padding: 0 0 0 0;
	border-collapse: collapse;
	margin: 1px;
}

td.calendarButton {
	border: 0px;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	background-color: #87AFFE;
	width: 15px;
	height: 20px;
	cursor: hand;
	font-family: verdana;
	font-size: 10px;
	color: #FFFFFF;
	padding: 4 4 4 4;
}

td.calendarCurrMonth {
	background-color: #87AFFE;
	cursor: hand;
	font-family: verdana;
	font-size: 10px;
	color: #FFFFFF;
	padding: 4 4 4 4;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

td.calendarCloseButton {
	border: 0px;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	width: 15px;
	height: 20px;
	cursor: hand;
	padding: 0 0 0 0;
}

td.calendarWeekend {
	width: 30px;
	font-family: Arial;
	font-size: 11px;
	color: #1B70E1;
	font-weight: bold;
}

td.calendarWeekDay {
	WIDTH: 30px;
	font-family: Arial;
	font-size: 11px;
	color: #1B70E1;
}

td.calendarSelectedDay {
	border: 1px solid #718BB0;
	border-left: 1px solid #718BB0;
	color: #1B70E1;
	font-weight: bold;
	cursor: hand;
}

td.calendarDay {
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	cursor: hand;
}

td.calendarDayCol1 {
	border-left: 1px solid #1B70E1;
	border-top: 1px solid #ffffff;
	cursor: hand;
}

td.calendarDayCol1Selected {
	border-left: 1px solid #1B70E1;
	border-top: 1px solid #ffffff;
	cursor: hand;
}

td.calendarDayColFinal {
	border-right: 1px solid #1B70E1;
	cursor: hand;
}

td.calendarDayColFinalSelected {
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #1B70E1;
	cursor: hand;
}

.divListYears {
	border: #718BB0 1px solid;
	left: 1px;
	overflow: auto;
	width: 50px;
	position: absolute;
	top: 1px;
	height: 150px;
	background-color: #e5eaf1;
}
.year {
	border-bottom: #718BB0 1px solid;
	font-weight: normal;
	cursor: default;
	text-align: center;
	font-size: 9px;
	font-family: tahoma;
}
.yearOn {
	border-bottom: #718BB0 1px solid;
	font-weight: normal;
	cursor: hand;
	text-align: center;
	font-size: 9px;
	font-family: tahoma;
	background-color: #E2E9F1;
	color: #1B70E1;
}

.tableFactory {
	background-color:	#1B70E1;
	border:				1px solid #ffffff;
}

.tableFactoryTitulo {
	background-color:	#DDECFE;
	color:				#1B70E1;
	font-family:		tahoma, arial;
	font-size:			11px;
	font-weight:		bold;
	height:				23px;
	padding-left:		4px;
	padding-right:		4px;
	border-top:			solid 1px #cccccc;
	border-bottom:		solid 1px #cccccc;
	border-right:		solid 1px #ffffff;
}

.tableFactoryCelula {
	background-color:	#ffffff;
	font-family:		tahoma, arial;
	font-size:			11px;
	color:				#000000;
	height:				23px;
	padding-left:		4px;
	padding-right:		4px;
	border-bottom:		solid 1px #cccccc;
}

.tableFactoryBotao {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;
	color: #1b70e1;
	background-color: #fff;
	border-right: 2px solid #145fca;
	border-bottom: 2px solid #145fca;
	border-left: 2px solid #8bb8f0;
	border-top: 2px solid #8bb8f0;
	padding: 0;
	margin: 0;
	cursor: hand;
}

.tooltip {
	font-size: 11px;
	font-family: Verdana, Arial, sans-serif;
	color: #1B70E1;
	background-color: #fff;
	border: 1px solid #145fca;
	padding: 2;
	margin: 0;
}

.abaAtiva {
   background-color: #87AFFE;
   color: #ffffff;
   font-size: 11px;
   font-family: tahoma;
   font-weight: bold;
   height: 20px;
   border-left: #87AFFE 1px solid;
   border-top: #87AFFE 1px solid;
   border-right: #87AFFE 1px solid;
   border-bottom: #87AFFE 1px solid;
   cursor: pointer;
}

.abaInativa {
   background-color: #ffffff;
   color: #1B70E1;
   font-size: 11px;
   font-family: tahoma;
   font-weight: bold;
   height: 20px;
   border-left: #F3F8FD 1px solid;
   border-top: #F3F8FD 1px solid;
   border-right: #F3F8FD 1px solid;
   border-bottom: #F3F8FD 1px solid;
   cursor: pointer;
}

.abaHover {
   background-color: #87AFFE;
   color: #ffffff;
   font-size: 11px;
   font-family: tahoma;
   font-weight: bold;
   height: 20px;
   border-left: #87AFFE 1px solid;
   border-top: #87AFFE 1px solid;
   border-right: #87AFFE 1px solid;
   border-bottom: #87AFFE 1px solid;
   cursor: pointer;
}

.abaContainer{
	background-color: #efefef;
	padding-left: 3px;
	padding-top: 3px;
}