* {
	margin: 0px;
	padding: 0px;   
}

body {
	font-family: Verdana, Arial, sans-serif; 
	font-size: 11px;
	margin: 20px;
} 

ul {
	list-style: none;
}                  

ul#menu {
	width: 170px;
	border: 1px solid silver;  
	margin-top: 20px;
}

ul#menu li {                
	color: black;        
	line-height: 19px;   
	background: #F4F4F4;      
}

ul#menu li.header {      
	background: #DFDFDF;
	font-weight: bolder; 
	padding: 0px 3px;
	font-size: 12px;
}   

ul#menu li a {
	color: black;
	text-decoration: none;
	display: block;       
	padding: 0px 3px;
	outline: none;
}                     

ul#menu li.parent > a {
	background: transparent url('../img/down.gif') right center no-repeat;
}                   

ul#menu li.aberto > a {
	background: transparent url('../img/up.gif') right center no-repeat;
}                   

ul#menu li a:hover {   
	background-color: #EAEEFF; 
}

ul#menu li ul.sub-menu {
  	display: none;
}                 

ul#menu li ul.sub-menu li a {
	padding-left: 15px;
	color: maroon;
}

