<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"   
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:tr="http://myfaces.apache.org/trinidad">

<head>
<title>Calculadora - NetCalc</title>
</head>
<body>
		<h:form>
			<table>
				<tr>
					<td>
						<h:inputText binding="#{calculo.inputNumeroOld}" disabled="true"/>
					</td>
				</tr>
				<tr>
					<td>
						<h:inputText binding="#{calculo.inputNumero}"/>
					</td>
				</tr>
				<tr>
					<td>
						<h:commandButton   value=" Limpar " action="#{calculo.limpar}"/>
					</td>
					<td>
						<h:commandButton   value=" Raiz Q. " action="#{calculo.exibirResultado}">
							<f:setPropertyActionListener target="#{calculo.sinal}" value="6" />
						</h:commandButton>
					</td>
					<td>
						<h:commandButton   value=" % " action="#{calculo.exibirResultado}">
							<f:setPropertyActionListener target="#{calculo.sinal}" value="5" />
						</h:commandButton>
					</td>
				</tr>
				<tr>
					<td>
						<h:commandButton   value=" 7 " action="#{calculo.pegarNumero}" >
							<f:setPropertyActionListener target="#{calculo.numeroClicado}" value="7" />
						</h:commandButton>
					</td>
					<td>
						<h:commandButton   value=" 8 " action="#{calculo.pegarNumero}">
							<f:setPropertyActionListener target="#{calculo.numeroClicado}" value="8" />
						</h:commandButton>
					</td>
					<td>
						<h:commandButton   value=" 9 " action="#{calculo.pegarNumero}">
							<f:setPropertyActionListener target="#{calculo.numeroClicado}" value="9" />
						</h:commandButton>
					</td>
					<td>
						<h:commandButton   value=" / " action="#{calculo.definirAcao}">
							<f:setPropertyActionListener target="#{calculo.sinal}" value="3" />
						</h:commandButton>
					</td>
				</tr>
				<tr>
					<td>
						<h:commandButton   value=" 4 " action="#{calculo.pegarNumero}">
							<f:setPropertyActionListener target="#{calculo.numeroClicado}" value="4" />
						</h:commandButton>
					</td>
					<td>
						<h:commandButton   value=" 5 " action="#{calculo.pegarNumero}">
							<f:setPropertyActionListener target="#{calculo.numeroClicado}" value="5" />
						</h:commandButton>
					</td>
					<td>
						<h:commandButton   value=" 6 " action="#{calculo.pegarNumero}">
						<f:setPropertyActionListener target="#{calculo.numeroClicado}" value="6" />
						</h:commandButton>
					</td>
					<td>
						<h:commandButton   value=" * " action="#{calculo.definirAcao}">
							<f:setPropertyActionListener target="#{calculo.sinal}" value="4" />
						</h:commandButton>
					</td>
				</tr>
				<tr>
					<td>
						<h:commandButton   value=" 1 " action="#{calculo.pegarNumero}">
							<f:setPropertyActionListener target="#{calculo.numeroClicado}" value="1" />
						</h:commandButton>
					</td>
					<td>
						<h:commandButton   value=" 2 " action="#{calculo.pegarNumero}">
							<f:setPropertyActionListener target="#{calculo.numeroClicado}" value="2" />
						</h:commandButton>
					</td>
					<td>
						<h:commandButton   value=" 3 " action="#{calculo.pegarNumero}">
							<f:setPropertyActionListener target="#{calculo.numeroClicado}" value="3" />
						</h:commandButton>
					</td>
					<td>
						<h:commandButton   value=" - " action="#{calculo.definirAcao}">
							<f:setPropertyActionListener target="#{calculo.sinal}" value="2" />
						</h:commandButton>
					</td>
				</tr>
				<tr>
					<td>
						<h:commandButton   value=" 0 " action="#{calculo.pegarNumero}">
							<f:setPropertyActionListener target="#{calculo.numeroClicado}" value="0" />
						</h:commandButton>
					</td>
					<td>
						<h:commandButton   value=" + " action="#{calculo.definirAcao}">
							<f:setPropertyActionListener target="#{calculo.sinal}" value="1" />
						</h:commandButton>
					</td>
					<td>
						<h:commandButton   value=" = " action="#{calculo.exibirResultado}"/>
					</td>
				</tr>
			</table>
		
		</h:form>
		
		</body>
</html>